Package: uhelp
Version: 0.6.2
Section: doc
Priority: optional
Architecture: amd64
Depends:
Maintainer: Suletta-Majo <sulettamajo@gmail.com>
Homepage: https://github.com/Suletta-Majo/uhelp
Description: terminal cli dictionary application. edit and read your wrote own help dictionary or cheatsheet. and built-in tldr database
